header{
    text-align: center;
background-color: bisque;
border: 1px solid black;
padding: 20px;
margin: 50px;
}
#sidebar{
    left : 0;
    width: 120px;
    height: 100%;
    top: 0px;
    position: fixed;
    padding-top: 180px;
    background-color: black;
    z-index: 1;
}
#sidebar h2{
    color: white;
}
 body{
    margin-left: 120px;
 }
#sidebar a{
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-bottom: 1px dashed;
}
#sidebar a:hover{
    background-color: blueviolet;
}
img{
    width: 100px;
}

